@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Questrial|Raleway:700,900");


.font-questrial {
  font-family: "Questrial", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Questrial", sans-serif;
  box-sizing: border-box;
}

.container {
  @apply max-w-[100%] md:w-[750px] lg:w-[970px] xl:w-[1170px] px-[15px] mx-auto relative;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;

    /* --border1: 222.2 84% 4.9%; */

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --status: 0 0% 95.7%;
    --status--foreground: 270, 50%, 9%;

    /* Xám trắng */
    --border1: 0 0% 95.7%;
    --border1--foreground: 0 0% 100%;

    /* xám đen  */
    --background2: 0 0% 95.7%;
    --foreground2: 222.2 84% 4.9%;

    /* xám đen  */
    --border2: 0 1.08% 81.76%;
    ----border2--foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --status: 270, 50%, 9%;
    --status--foreground: 0 0% 95.7%;

    /* xám trắng */
    --border1: 0 0% 100%;
    --border1--foreground: 0 0% 95.7%;

    /* xám đen  */
    --background2: 222.2 84% 4.9%;
    --foreground2: 0 0% 95.7%;

    /* xám đen  */
    --border2: 222.2 84% 4.9%;
    ----border2--foreground: 0 1.08% 81.76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}